html { 
  background-image: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

input[type=text]:focus {
  border: 3px solid rgb(211, 65, 187);
  background-color: white;
  color: black;
}
input[type=textarea]:focus {
  border: 3px solid rgb(211, 65, 187);
  background-color: white;
  color: black;
}

.photo-thumbnail {
  justify-self: center;
  height: 170px;
  width: auto;
  text-align: center;
} 

.photo-big {
  justify-self: center;
  height: 400px;
  width: auto;
  text-align: center;
} 

img {
  padding: 10px;
}

h1 {
  text-align: center;
}

.bigImg {
  height: 630px;
  width: 500px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}